<phpunit bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="Only Active">
			<file>./tests/RegistryTest.php</file>
			<file>./tests/RequestTest.php</file>
			<file>./tests/SessionTest.php</file>
			<file>./tests/CacheTest.php</file>
			<file>./tests/RouterTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>