<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="Only Active">
			<file>./tests/ApiResponseTest.php</file>
			<file>./tests/CacheTest.php</file>
			<file>./tests/CryptoTest.php</file>
			<file>./tests/DatabaseObjectTest.php</file>
			<!-- <file>./tests/QueryTest.php</file> -->
			<file>./tests/RegistryTest.php</file>
			<file>./tests/RequestTest.php</file>
			<file>./tests/ResponseTest.php</file>
			<file>./tests/RouterTest.php</file>
			<file>./tests/SessionTest.php</file>
			<file>./tests/ViewTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>